# Ignore only specific subfolders inside data/
data/raw_videos/
data/frames/
data/autolabeled_frames/
data/labeled_frames/

# Optional: ignore other unnecessary big files
*.mp4
*.avi
*.mov
*.jpg
*.png
*.DS_Store
__pycache__/
